<!-- Footer parcial -->
<footer class="main-footer" role="contentinfo">
  <div class="container footer-container">
    <p>&copy; 2024 API RESTful Mongo. Todos los derechos reservados.</p>
  </div>
</footer>
